* {
  font-family: "verdana", sans-serif;
  font-size: 20px;
}

.yellow_paragraph {
  color: yellow;
}

h1 {
  font-size: 40px;
} 

#uppercase {
  text-transform: uppercase;
}

.green_background {
  background-color: lightgreen;
}

ol[type="1"] li {
  border-width: 2px;
  border-style: solid;
  border-color: navy;
}

img + ul {
  list-style: none;
  letter-spacing: 5px;
}

section > img {
height: 150px;
  width: 150px;
  border-radius: 150px;
}

ul ~ p {
  text-align: center;
  color: black;
}
